* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'COCOGOOSE';
    src: url(fonts/Cocogoose.otf);
    font-weight: regular;
}

img {
    object-fit: fill;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    min-width: 100%;
    min-height: 72%;
    width: 100%;
    height: 80vh;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}


#reproductor{
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    min-width: 100%;
    width: 100%;
    height: 90vh;
    z-index: -100;
    overflow: hidden;
}

#contenido{
    background-color: black;
}

#contenido2{
    background-color: black;
}

#contenido3{
    background-color: black;
}

#contenido4{
    background-color: black;
}